body {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQpHI8eI9H49arkdHCsAODuuCRxHo2NVEmpYb1D20R8HH2XjL8D);
  background-size: cover;
}

p{
  color: #FFD700;
  font-size: 50px;
}

h1{
  color: #B8860B;
  font-size: 100px;
  text-align:center;
}
